*{
    padding: 0px;
    margin: 0px;
    
}


#container{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow-y: scroll;
    
}

*{
    font-family: gill, helvetica, sans-serif;
  }

#header{
    height: 20vh;
    background-color: #0f2337;
    margin: 0px;
    color: #ff8400;
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#chooseSize{
    height: 50vh; 
    margin: 3%;
    background-color: #ff8400;
    border: 0.2em solid #0f2337;  
    padding: 1%;

    display: grid;
    grid-template-areas: 
    "sizeIntro"
    "sizePrompt"
    "sizeForm";
    
    justify-content: center;
    text-align: center;

    font-size: 2em;
}

#chooseElements{
    margin: 3%;
    background-color: #ff8400;
    border: 0.2em solid #0f2337;  
    padding: 1%;

    display: grid;
    grid-template-areas: 
    "elemsIntro"
    "elementsOfX"
    "chosenElements"
    "addToT"
    "checkPrompt"
    "checkTop";
    
    justify-content: center;
    text-align: center; 

    font-size: 2em;
}

#results{
    height: 50vh; 
    margin: 3%;
    background-color: #ff8400;
    border: 0.2em solid #0f2337;  
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 2em;
}

#sizeX{
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    font-size: 2em;
}

.btn{
    background-color: #0f2337;
    color: lightblue;
    border-radius: 2em;
    width: 10em;
    height: 3em;
    text-decoration: none;
    text-align: center;
    font-size: 0.5em;
    margin: 1%;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,2);
}

.elemBtn{
    background-color: #0f2337;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,2);
    color: lightblue;
    margin: 1%;
    padding: 0.25%;
    border-radius: 20%;
    width: 2em;

}